@import "tailwindcss";

@theme {
  /* custom colors */
  --color-orange: hsl(13, 74%, 56%);
  --color-dark-gray: hsl(0, 0%, 8%);
  --color-gray: hsl(0, 0%, 11%);
  --color-light-gray: hsl(0, 0%, 12%);
  --color-mute: hsl(0, 1%, 49%);
}

@layer components {
  .mentor_section {
    @apply flex justify-center items-center;
  }

  .content_chips {
    @apply bg-orange rounded-full px-4 py-1 cursor-default hover:translate-y-[-3px] transition;
  }

  .container_card {
    @apply text-center space-y-5 border-2 border-orange rounded-xl p-3 transition hover:scale-[1.02];
  }
}
